body{
  font: 16px/1.5 helvetica;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

.container{
  width:80%;
  margin: auto;
  overflow: hidden;
}

header{
  background-color: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 5px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;;
  font-size: 16px;
}

header ul{
  margin: 0;
  padding: 0;
}

header li{
  float:  left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 12px;
}

header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

#showcase{
  min-height: 550px;
  background: url('../img/vice.jpg') no-repeat 0 -370px ;
  background-size: cover;
  text-align: center;
  color: #ffffff
}
 
